.btn-primary {
    font-family: var(--font-Jost);
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-transform: capitalize;
    color: var(--color-white);
    padding: 12px 38px;    
    background: var(--color-primary);
    border-radius: 5px;
    transition: 0.3s;
}

.btn-primary:hover {
    color: var(--color-primary);
    background: var(--color-white);
    box-shadow:0 2px 4px rgba(85, 0, 111, 0.36);
}





.btn-tertiary {
    font-family: var(--font-Jost);
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-transform: capitalize;
    color: var(--color-primary);
    padding: 12px 38px;    
    background:transparent;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-tertiary:hover {
    color: var(--color-primary);
    background: var(--color-white);
}
