.header {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(144deg, rgba(255, 255, 255, 1) 60%, rgba(30, 85, 66, 1) 60%);
    background: -webkit-linear-gradient(144deg, rgba(255, 255, 255, 1) 60%, rgba(30, 85, 66, 1) 60%);
    background: linear-gradient(144deg, rgba(255, 255, 255, 1) 60%, rgba(30, 85, 66, 1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#1e5542",GradientType=1);
    height: 100vh;
    display: flex;
    align-items: center;
}

.navbar .nav.nav-pills {
    gap: 18px;
}

.nav-link {
    color: var(--color-dark);
    padding: 5px 0;
    font-family: var(--font-Open);
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
}

.nav-link:hover,.nav-link:focus {
    color: var(--color-primary);
}
