.profile-img{
    width:360px;
    height: 360px;
    border-top: 10px solid var(--color-primary);
    border-left: 15px solid var(--color-primary);
    border-bottom: 15px solid var(--color-primary);
    border-right: 5px solid var(--color-primary);
  
}

.profile-img img{
    image-rendering:pixelated;
    filter: grayscale(100);
}