.graph-box {
    background: linear-gradient(
        276.48deg,
        rgba(244, 244, 244, 0.93) 14.41%,
        rgba(244, 244, 244, 0.93) 47.68%,
        rgba(255, 255, 255, 0.93) 93.27%
    );
    box-shadow: 19.7234px 24.8686px 36.0166px rgba(162, 162, 162, 0.25), inset -2.57262px 2.57262px 0px #ffffff;
    backdrop-filter: blur(10.7192px);
    border-radius: 25.7262px;
    padding: 16.5px;
}

.graph-box h6 {
    font-family: var(--font-Jost);
    font-weight: 600;
    font-size: 17.1508px;
    line-height: 25px;
    letter-spacing: 0.42877px;
    color: #353e6c;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.percent {
    top: 53%;
    left: 48%;
    transform: translate(-53%, -48%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--color-white);
    text-align: center;
    font-family: var(--font-Jost);
    font-weight: 700;
    font-size: 21.5857px;
    line-height: 31px;
    letter-spacing: 0.539642px;
    color: var(--color-dark);
    text-transform: capitalize;
}

.percent .h5 {
    font-family: var(--font-Jost);
    font-weight: 400;
    font-size: 16.1893px;
    line-height: 23px;
    letter-spacing: 0.539642px;
    color: var(--color-dark);
    text-transform: capitalize;
}

.wave-graph h6 {
    top: 0;
}

.show-num {
    font-family: var(--font-Jost);
    font-weight: 600;
    font-size: 17.1508px;
    line-height: 25px;
    letter-spacing: 0.42877px;
    color: #45b751;
    position: absolute;
    right: 30px;
    top: 0;
}
.main-banner-content {
    margin-top: 46px;
    margin-bottom: 100px;
}

.line {
    height: 1px;
    background: #dedede;
    width: 100%;
}

.img-bg {
    background: rgba(242, 242, 242, 0.93);
    box-shadow: 40px 48px 105px rgba(106, 106, 106, 0.2);
    border-radius: 30px;
    padding: 56px 38px 46px;
}

.half-bg {
    z-index: -1;
    top: -16px;
}

.left-half-bg {
    left: 0;
}

.right-half-bg {
    right: 0;
}

.grid-card {
    background: rgba(244, 244, 244, 0.93);
    box-shadow: inset -2.57262px 2.57262px 0px #ffffff;
    border-radius: 10px;
    padding: 36px 43px;
    transition: 0.3s;
    display: block;
}

.grid-card:hover {
    background: var(--color-white);
    box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.25);
}
.grid-card img {
    width: 100%;
    min-width: 62px;
    max-width: 62px;
    height: 62px;
    margin-bottom: 30px;
}

.grid-card p {
    color: #4e4e4e;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ft-list {
    padding: 32px 14px;
    border-radius: 30px;
    transition: 0.3s;
}

.ft-list ul {
    display: flex;
    flex-direction: column;
    background: none;
}

.ft-list ul li {
    display: flex;
    align-items: center;
    gap: 3px;
    background: none;
}

.list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    max-width: 28px;
    height: 28px;
}

.pkg-amount {
    font-family: var(--font-Jost);
    font-weight: 700;
    font-size: 35px;
    line-height: 128.18%;
    text-transform: capitalize;
    color: var(--color-dark);
}

.pkg-time {
    font-family: var(--font-Open);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #606060;
    margin-top: 8px;
}

.pkg-type {
    background: rgba(244, 244, 244, 0.93);
    border-radius: 5px;
    font-family: var(--font-Open);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    padding: 12px 42px;
    color: #1b2534;
    display: inline-block;
    margin-top: 20px;
}

.pkg-card .ft-list ul li {
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 0;
    justify-content: space-between;
    gap: 8px;
}

.pkg-card .ft-list ul li:last-child {
    border: none;
}

.pkg-btn {
    padding: 14px 39px;
    background: var(--color-white);
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    font-family: var(--font-Jost);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-dark);
    transition: 0.3s;
    display: inline-block;
    margin: 0 auto;
}

.pkg-btn:hover {
    padding: 14px 39px;
    background: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(85, 0, 111, 0.36);
}

.pkg-card.active .ft-list,
.pkg-card:hover .ft-list {
    background: var(--color-primary);
}

.pkg-card.active .ft-list .list-title,
.pkg-card:hover .ft-list .list-title {
    color: var(--color-white);
}

.pkg-card.active .ft-list .pkg-type,
.pkg-card:hover .ft-list .pkg-type {
    background: var(--color-yellow);
    color: var(--color-white);
}
.pkg-card.active .ft-list .pkg-amount,
.pkg-card:hover .ft-list .pkg-amount {
    color: var(--color-yellow);
}

.pkg-card.active .ft-list .pkg-time,
.pkg-card:hover .ft-list .pkg-time {
    color: var(--color-white);
}

.pkg-card.active .ft-list .pkg-btn,
.pkg-card:hover .ft-list .pkg-btn {
    background: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(85, 0, 111, 0.36);
}

.list-group-numbered > .list-group-item::before {
    font-family: var(--font-Jost);
    font-weight: 600;
    font-size: 48px;
    line-height: 133.2%;
    text-transform: capitalize;
    color: var(--color-lightBlue);
}

ol.list-group .title-sm {
    margin-bottom: 9px;
}

ol.list-group .list-group-item {
    padding: 30px 14px 30px 0px;
    border-radius: 30px;
    margin-bottom: 17px;
    background: var(--color-white);
    background-image: url("../media/imgs/card-bg.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.contact-sec {
    background-image: url("../media/imgs/full-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.contact-form .form-control {
    height: 80px;
    width: 100%;
    background: var(--color-white);
    border-radius: 5px;
    padding: 25px;
    font-family: var(--font-Jost);
    font-weight: 500;
    font-size: 18px;
    line-height: 173.7%;
    color: #797979;
}

.contact-form .form-control:focus {
    box-shadow: none;
    outline: none;
}

.form-label {
    font-family: var(--font-Open);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.input-cover {
    margin-bottom: 30px;
}

textarea.form-control {
    width: 100%;
    height: 207px !important;
}



.list-group.list-group-numbered{
    margin-top: 37px;
}