@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
    --color-primary: #1e5542;
    --color-light: #d1ddd9;
    --color-mediumLight: #606060;
    --color-dark: #1c2220;
    --color-yellow: #f69322;
    --color-lightBlue: #47cfff;
    --color-black: #000000;
    --color-white: #ffffff;
    --font-Jost: "Jost", sans-serif;
    --font-Open: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    font-family: sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}
ol,
ul {
    padding-left: 15px;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.title-xl {
    font-family: var(--font-Jost);
    font-weight: 600;
    font-size: 62px;
    line-height: 133.2%;
    color: var(--color-primary);
    text-transform: capitalize;
}

.title-lg {
    font-family: var(--font-Jost);
    font-weight: 600;
    font-size: 48px;
    line-height: 133.2%;
    color: var(--color-primary);
    text-transform: capitalize;
}

.title-md {
    font-family: var(--font-Jost);
    font-weight: 700;
    font-size: 36px;
    line-height: 133.2%;
    color: var(--color-primary);
    text-transform: capitalize;
}

.title-sm {
    font-family: var(--font-Jost);
    font-weight: 500;
    font-size: 30px;
    line-height: 133.2%;
    color: var(--color-primary);
    text-transform: capitalize;
}

.list-title {
    font-family: var(--font-Jost);
    font-weight: 600;
    font-size: 22px;
    line-height: 231.5%;
    color: var(--color-primary);
    text-transform: capitalize;
}

.color-primary {
    color: var(--color-primary) !important;
}

.btn {
    outline: none;
    border: none;
}
.des-lg {
    font-family: var(--font-Open);
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: var(--color-dark);
}

.des-md {
    font-family: var(--font-Open);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-dark);
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
